body {
    padding: 0;
    margin: 0;
}
#chatBox {

}
#chatBox--output {
    height: 400px;
}
#chatBox--input {
    
}
#chatBox--input--menu--name {

    border: solid red 2px;
    outline: none;
}
#chatBox--input--typing {
    resize: none;
    height: 200px;
}
#chatBox--input--button__send {
    position: relative;
    top: -40px;
    left: -30px;
}
.chatBox--output--bubble{

}
.chatBox--output--avator__normal {
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 75px;
}
.chatBox--output--avator__small {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 75px;
}
.chatBox--output--message {

    border-radius: 5px;
}
.panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(	105,105,105,0.9);

}
.chatBox--output--arrow__left {
    /* transform: translate(-25px,0) rotate(30deg);
    color: rgb(247,247,247); */
    display: inline-block;
    width: 10px;
    height: 10px;
    transform: translate(-25.6px,0px) rotate(45deg);
    background-color: rgb(247,247,247);
    border:rgb(223,223,223) solid 1px;


}
.chatBox--output--arrow__right {
    display: inline-block;
    width: 10px;
    height: 10px;
    transform: translate(25.6px,0px) rotate(45deg);
    background-color: rgb(247,247,247);
    border:rgb(223,223,223) solid 1px;
}
.chatBox--space {
    width: 50px;
    height: 50px;
}