*{margin: 0;padding: 0;}
#center{
    text-align: center;
}
#chatting{
    display: inline-block;
    width: 600px;
    height: 800px;
    border: 1px rgb(173, 173, 173) solid;
}
#input{
    width: 95%;
    height: 10%;
    margin-top:630px ;
}
p{
    text-align: left;
}